{% extends "main.html" %}
{% load i18n %}

{% block title %}{% translate "Login" %}{% endblock %}

{% block main %}
  <h2>{% translate "Login" %}</h2>

  {% if form.non_field_errors %}
    <div style="color: red;">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label><br>
    {{ form.username }}<br><br>

    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label><br>
    {{ form.password }}<br><br>

    <button type="submit">{% translate "Login" %}</button>
  </form>

  <p><a href="{% url 'password_reset' %}">{% translate "Forgot your password?" %}</a></p>
{% url 'register' as register_url %}
  <p>{% blocktrans with register_url=register_url %}Don't have an account?" <a href="{{ register_url }}">Register here</a>{% endblocktrans %}</p>
{% endblock %}