{% extends "main.html" %}

{% block title %}Dashboard{% endblock %}


{% block main %}
  <h1>Welcome, {{ request.user.username }}</h1>

  <div class="job-box">
    <section>
      <h2>Your Jobs</h2>

      <!-- Filter input -->
      <input type="text" name="q" placeholder="Filter jobs..." 
             hx-get="{% url 'dashboard:job_list_partial' %}" 
             hx-trigger="keyup changed delay:500ms"
             hx-target="#job-list"
             hx-swap="innerHTML"
             class="filter-input">

      <div id="job-list">
        {% include "../partials/job_list.html" %}
      </div>
    </section>
  </div>
{% endblock %}
