

{% for item in application_items %}
<div class="application-item" id="application-{{ item.id }}">
    <div class="application-left">
        <a href="{% url 'application:application_edit' item.id %}">
            <h3>{{ item.job.job_name }}</h3>
        </a>
        {% if item.job.link %}
        <a href="{{ item.job.link }}" class="job-link" target="_blank"
            rel="noopener noreferrer">
            Job Link
        </a>
        {% endif %}
    </div>
    <div class="application-right">
        <p>Status: {{ item.get_status_display }}</p>
        <p>{{ item.job.job_description }}</p>
        <small>Added on {{ item.created_at|date:"F j, Y" }}</small>
    </div>
    <div>

        <form
            hx-post="{% url 'application:application_partial_remove' item.id  %}"
            method="POST"
            hx-target="#application-list"
            hx-swap="innerHTML"
            class="filter-input">

            {% csrf_token %}
            <input type="submit" value="Delete">

        </form>
    </div>
</div>
{% empty %}
<p>No jobs found in your application list.</p>
{% endfor %}

<div id="flash-message"
    style="display:none; padding:10px; background:#d4edda; color:#155724; margin-bottom: 1rem; border-radius: 5px;"></div>
