{% load i18n %}

<h2>Add Job to Application list</h2>
<form method="post" hx-post="{% url 'application:application_add_modal' %}"
    hx-target="#application-list" hx-swap="innerHTML">
    {% csrf_token %}
    <table id="application_add_form_table">
        <fieldset>
            <legend>{% translate "Job Information" %}</legend>
            {{ jobform.as_p }}
        </fieldset>

        <fieldset>
            <legend>{% translate "Application Information" %}</legend>
            {{ appform.as_p }}
        </fieldset>

    </table>

    <button type="submit">Save</button>
</form>
