{% load i18n %}
<div class="watchlist">
  {% for item in watchlist_items %}
  <div class="job-item">
    <div class="job-left">
      <a href="{% url 'watchlist:watchlist_edit' item.id %}">
        <h3>{{ item.job.job_name }}</h3>
      </a>

      {% if item.job.link %}
      <a href="{{ item.job.link }}" class="job-link" target="_blank"
        rel="noopener noreferrer">{% translate "Job Link" %}</a>
      {% endif %}
    </div>
    <div class="job-right">
      <p>{{ item.job.job_description }}</p>
      <small>{% blocktrans with datetime=item.updated_at|date:"F j, Y, H:i:s" %}Last updated {{ datetime }}{% endblocktrans %}</small>
    </div>
    <div>
      <!-- Edit Button -->
      <button
        hx-get="{% url 'watchlist:watchlist_edit_modal' item.id %}"
        hx-target="#modal-body"
        hx-swap="innerHTML">
        {% translate "Edit" %}
      </button>
    </div>
    <div>
      <!-- Delete button -->
      <form
        hx-post="{% url 'watchlist:watchlist_partial_remove' item.id  %}"
        method="POST"
        hx-target="#watch-list"
        hx-swap="innerHTML"
        class="filter-input"
        hx-confirm="{% translate 'Are you sure you want to delete this Watchlist entry?' %}">
        {% csrf_token %}
        <input type="submit" value="{% translate 'Delete' %}">
      </form>
    </div>
  </div>
  {% empty %}
  <p>{% translate "No jobs found in your watchlist." %}</p>
  {% endfor %}
</div>
