
<div class="watchlist">
  {% for item in watchlist_items %}
  <div class="job-item">
    <div class="job-left">
      <h3>{{ item.job.job_name }}</h3>
      {% if item.job.link %}
      <a href="{{ item.job.link }}" class="job-link" target="_blank"
        rel="noopener noreferrer">Job Link</a>
      {% endif %}
    </div>
    <div class="job-right">
      <p>{{ item.job.job_description }}</p>
      <small>Last updated {{ item.updated_at|date:"F j, Y, H:i:s" }}</small>
    </div>
    <div>
      <!-- Delete button -->
      <form
          hx-post="{% url 'watchlist:watchlist_partial_remove' item.id  %}"
          method="POST"
          hx-target="#watch-list"
          hx-swap="innerHTML"
          class="filter-input"
          hx-confirm="Are you sure you want to delete this Watchlist entry?">
          {% csrf_token %}
          <input type="submit" value="Delete">
      </form>
  </div>
  </div>
  {% empty %}
  <p>No jobs found in your watchlist.</p>
  {% endfor %}
</div>
