{% extends 'main.html' %}
{% load i18n %}
{% block main %}

<h3>{% translate "Recent applications:" %}</h3>
<div>
{% for application in recent_applications %}
{{ application.position_title }}
{% endfor %}
</div>

<h3>{% translate "Watchlist:" %}</h3>
<div>
{% for job in jobs %}
{{ job.position_title }}
{% endfor %}
</div>

<h3>{% translate "Invitations / Upcoming interviews:" %}</h3>
<div>
{% for application in invitations %}
{{ application.position_title }}
{% endfor %}
</div>

<p><a href="{% url 'application_add' %}">{% translate "Add new application" %}</a></p>

{% endblock %}